.container {
  margin: 100px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  @media only screen and (min-width: 720px) {
    grid-template-columns: repeat(auto-fill, 50%);
  }
}

.headline {
  font-size: 24px;
  line-height: 32px;
}
